version: '3.9'

services:
  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code
      - ./reports:/code/reports
      - ./processed:/code/processed
      - ./ai-policies:/code/ai-policies
    ports:
      - "8000:8000"
    env_file: .env
    environment:
      - HF_TOKEN=${HF_TOKEN:-}
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A app.core.celery_app.celery worker --loglevel=info
    volumes:
      - .:/code
    env_file: .env
    environment:
      - HF_TOKEN=${HF_TOKEN:-}
    depends_on:
      - redis
      - web

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: fastapi
      POSTGRES_PASSWORD: fastapi
      POSTGRES_DB: fastapi_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis_cache
    ports:
      - "6379:6379"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com     # Change this to your email
      PGADMIN_DEFAULT_PASSWORD: admin            # Change this to a secure password
    ports:
      - "5050:80"                                # Access pgAdmin on http://localhost:5050
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgdata:
  pgadmin_data:
